In [8]:
import myprosody as mysp
import pandas as pd

In [9]:
class Paths:
  meta_data = '/vol/tensusers3/jdusseljee/2324-asr/myprosody_features/meta_data.csv'
  concatenated = '/vol/tensusers3/jdusseljee/2324-asr/myprosody_features/full'

In [10]:
def get_features(row):
  p=row["ID"]

  return pd.Series(mysp.myspsr(p, Paths.concatenated), index=[f'f{n+1}' for n in range(15)])

In [11]:
train_df = pd.read_csv(Paths.meta_data)

In [12]:
train_df[[f'f{n+1}' for n in range(15)]] = train_df.apply(get_features, axis=1)

In [13]:
train_df.head()

,ID,age,gender,mmse,class,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15
0,S001,74,male,NaN,0,207,32,2.3,3.8,53.8,88.9,0.6,132.13,41.61,120.2,76,381,115,128,0.8
1,S002,62,female,30.0,0,5,19,0.09,0.7,7.7,57.1,0.1,204.37,26.91,196.3,178,259,186,202,0.07
2,S003,69,female,29.0,0,195,25,2.8,4.7,41.3,69.1,0.6,193.19,38.51,188.2,76,391,170,211,0.7
3,S004,71,female,30.0,0,283,39,2.8,4.5,62.7,100.5,0.6,175.79,37.34,171.1,71,394,158,190,0.7
4,S005,74,female,30.0,0,35,37,0.4,2.6,13.5,81.3,0.2,184.62,36.08,180.8,143,356,156,202,0.07

In [14]:
train_df.to_csv('features.csv')